In [168]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pymongo
import hashlib
import csv
import prettytable
import json
%matplotlib inline

In [169]:
client = pymongo.MongoClient("localhost",27017)
movies_db = client['Project3_Movies']
movies_collection = movies_db['movies']
movies_collection_ratings = movies_db['movies_ratings']
movies_merge_with_ratings = movies_db['movies_merge']
cache_database = movies_db["cacheDB"]

In [170]:
movie_titles_df = pd.read_csv("Movie_Titles")
data_json = json.loads(movie_titles_df.to_json(orient='records'))
movies_collection.remove()
movies_collection.insert(data_json)
movie_titles_df.head(20)

    item_id                                              title
0         1                                   Toy Story (1995)
1         2                                   GoldenEye (1995)
2         3                                  Four Rooms (1995)
3         4                                  Get Shorty (1995)
4         5                                     Copycat (1995)
5         6  Shanghai Triad (Yao a yao yao dao waipo qiao) ...
6         7                              Twelve Monkeys (1995)
7         8                                        Babe (1995)
8         9                            Dead Man Walking (1995)
9        10                                 Richard III (1995)
10       11                               Seven (Se7en) (1995)
11       12                         Usual Suspects, The (1995)
12       13                            Mighty Aphrodite (1995)
13       14                                 Postino, Il (1994)
14       15                          Mr. Holland's Opus (1995)
15       16                 French Twist (Gazon maudit) (1995)
16       17                         From Dusk Till Dawn (1996)
17       18                          White Balloon, The (1995)
18       19                              Antonia's Line (1995)
19       20                          Angels and Insects (1995)

In [171]:
get_movie = movies_collection.find_one()

In [172]:
get_movie

{'_id': ObjectId('5fb70587e73f605388ee5370'),
 'item_id': 1,
 'title': 'Toy Story (1995)'}

In [173]:
movies_rating_df = pd.read_csv('u.data', sep='\t', names=['user_id', 'item_id', 'rating', 'timestamp'])
movies_rating_df.head(10)

   user_id  item_id  rating  timestamp
0        0       50       5  881250949
1        0      172       5  881250949
2        0      133       1  881250949
3      196      242       3  881250949
4      186      302       3  891717742
5       22      377       1  878887116
6      244       51       2  880606923
7      166      346       1  886397596
8      298      474       4  884182806
9      115      265       2  881171488

In [174]:
movies_rating_df.tail()

        user_id  item_id  rating  timestamp
99998       880      476       3  880175444
99999       716      204       5  879795543
100000      276     1090       1  874795795
100001       13      225       2  882399156
100002       12      203       3  879959583

In [175]:
#Insert User data in the database

movies_rating_df.drop(['timestamp'], axis = 1, inplace = True)
data_json = json.loads(movies_rating_df.to_json(orient='records'))
movies_collection_ratings.remove()
movies_collection_ratings.insert(data_json)

fb70588e73f605388ee5be9'),
 ObjectId('5fb70588e73f605388ee5bea'),
 ObjectId('5fb70588e73f605388ee5beb'),
 ObjectId('5fb70588e73f605388ee5bec'),
 ObjectId('5fb70588e73f605388ee5bed'),
 ObjectId('5fb70588e73f605388ee5bee'),
 ObjectId('5fb70588e73f605388ee5bef'),
 ObjectId('5fb70588e73f605388ee5bf0'),
 ObjectId('5fb70588e73f605388ee5bf1'),
 ObjectId('5fb70588e73f605388ee5bf2'),
 ObjectId('5fb70588e73f605388ee5bf3'),
 ObjectId('5fb70588e73f605388ee5bf4'),
 ObjectId('5fb70588e73f605388ee5bf5'),
 ObjectId('5fb70588e73f605388ee5bf6'),
 ObjectId('5fb70588e73f605388ee5bf7'),
 ObjectId('5fb70588e73f605388ee5bf8'),
 ObjectId('5fb70588e73f605388ee5bf9'),
 ObjectId('5fb70588e73f605388ee5bfa'),
 ObjectId('5fb70588e73f605388ee5bfb'),
 ObjectId('5fb70588e73f605388ee5bfc'),
 ObjectId('5fb70588e73f605388ee5bfd'),
 ObjectId('5fb70588e73f605388ee5bfe'),
 ObjectId('5fb70588e73f605388ee5bff'),
 ObjectId('5fb70588e73f605388ee5c00'),
 ObjectId('5fb70588e73f605388ee5c01'),
 ObjectId('5fb70588e73f605388ee5c02'),
 ObjectId('5fb70588e73f605388ee5c03'),
 ObjectId('5fb70588e73f605388ee5c04'),
 ObjectId('5fb70588e73f605388ee5c05'),
 ObjectId('5fb70588e73f605388ee5c06'),
 ObjectId('5fb70588e73f605388ee5c07'),
 ObjectId('5fb70588e73f605388ee5c08'),
 ObjectId('5fb70588e73f605388ee5c09'),
 ObjectId('5fb70588e73f605388ee5c0a'),
 ObjectId('5fb70588e73f605388ee5c0b'),
 ObjectId('5fb70588e73f605388ee5c0c'),
 ObjectId('5fb70588e73f605388ee5c0d'),
 ObjectId('5fb70588e73f605388ee5c0e'),
 ObjectId('5fb70588e73f605388ee5c0f'),
 ObjectId('5fb70588e73f605388ee5c10'),
 ObjectId('5fb70588e73f605388ee5c11'),
 ObjectId('5fb70588e73f605388ee5c12'),
 ObjectId('5fb70588e73f605388ee5c13'),
 ObjectId('5fb70588e73f605388ee5c14'),
 ObjectId('5fb70588e73f605388ee5c15'),
 ObjectId('5fb70588e73f605388ee5c16'),
 ObjectId('5fb70588e73f605388ee5c17'),
 ObjectId('5fb70588e73f605388ee5c18'),
 ObjectId('5fb70588e73f605388ee5c19'),
 ObjectId('5fb70588e73f605388ee5c1a'),
 ObjectId('5fb70588e73f605388ee5c1b'),
 ObjectId('5fb70588e73f605388ee5c1c'),
 ObjectId('5fb70588e73f605388ee5c1d'),
 ObjectId('5fb70588e73f605388ee5c1e'),
 ObjectId('5fb70588e73f605388ee5c1f'),
 ObjectId('5fb70588e73f605388ee5c20'),
 ObjectId('5fb70588e73f605388ee5c21'),
 ObjectId('5fb70588e73f605388ee5c22'),
 ObjectId('5fb70588e73f605388ee5c23'),
 ObjectId('5fb70588e73f605388ee5c24'),
 ObjectId('5fb70588e73f605388ee5c25'),
 ObjectId('5fb70588e73f605388ee5c26'),
 ObjectId('5fb70588e73f605388ee5c27'),
 ObjectId('5fb70588e73f605388ee5c28'),
 ObjectId('5fb70588e73f605388ee5c29'),
 ObjectId('5fb70588e73f605388ee5c2a'),
 ObjectId('5fb70588e73f605388ee5c2b'),
 ObjectId('5fb70588e73f605388ee5c2c'),
 ObjectId('5fb70588e73f605388ee5c2d'),
 ObjectId('5fb70588e73f605388ee5c2e'),
 ObjectId('5fb70588e73f605388ee5c2f'),
 ObjectId('5fb70588e73f605388ee5c30'),
 ObjectId('5fb70588e73f605388ee5c31'),
 ObjectId('5fb70588e73f605388ee5c32'),
 ObjectId('5fb70588e73f605388ee5c33'),
 ObjectId('5fb70588e73f605388ee5c34'),
 ObjectId('5fb70588e73f605388ee5c35'),
 ObjectId('5fb70588e73f605388ee5c36'),
 ObjectId('5fb70588e73f605388ee5c37'),
 ObjectId('5fb70588e73f605388ee5c38'),
 ObjectId('5fb70588e73f605388ee5c39'),
 ObjectId('5fb70588e73f605388ee5c3a'),
 ObjectId('5fb70588e73f605388ee5c3b'),
 ObjectId('5fb70588e73f605388ee5c3c'),
 ObjectId('5fb70588e73f605388ee5c3d'),
 ObjectId('5fb70588e73f605388ee5c3e'),
 ObjectId('5fb70588e73f605388ee5c3f'),
 ObjectId('5fb70588e73f605388ee5c40'),
 ObjectId('5fb70588e73f605388ee5c41'),
 ObjectId('5fb70588e73f605388ee5c42'),
 ObjectId('5fb70588e73f605388ee5c43'),
 ObjectId('5fb70588e73f605388ee5c44'),
 ObjectId('5fb70588e73f605388ee5c45'),
 ObjectId('5fb70588e73f605388ee5c46'),
 ObjectId('5fb70588e73f605388ee5c47'),
 ObjectId('5fb70588e73f605388ee5c48'),
 ObjectId('5fb70588e73f605388ee5c49'),
 ObjectId('5fb70588e73f605388ee5c4a'),
 ObjectId('5fb70588e73f605388ee5c4b'),
 ObjectId('5fb70588e73f605388ee5c4c'),
 ObjectId('5fb70588e73f605388ee5c4d'),
 ObjectId('5fb70588e73f605388ee5c4e'),
 ObjectId('5fb70588e73f605388ee5c4f'),
 ObjectId('5fb70588e73f605388ee5c50'),
 ObjectId('5fb70588e73f605388ee5c51'),
 ObjectId('5fb70588e73f605388ee5c52'),
 ObjectId('5fb70588e73f605388ee5c53'),
 ObjectId('5fb70588e73f605388ee5c54'),
 ObjectId('5fb70588e73f605388ee5c55'),
 ObjectId('5fb70588e73f605388ee5c56'),
 ObjectId('5fb70588e73f605388ee5c57'),
 ObjectId('5fb70588e73f605388ee5c58'),
 ObjectId('5fb70588e73f605388ee5c59'),
 ObjectId('5fb70588e73f605388ee5c5a'),
 ObjectId('5fb70588e73f605388ee5c5b'),
 ObjectId('5fb70588e73f605388ee5c5c'),
 ObjectId('5fb70588e73f605388ee5c5d'),
 ObjectId('5fb70588e73f605388ee5c5e'),
 ObjectId('5fb70588e73f605388ee5c5f'),
 ObjectId('5fb70588e73f605388ee5c60'),
 ObjectId('5fb70588e73f605388ee5c61'),
 ObjectId('5fb70588e73f605388ee5c62'),
 ObjectId('5fb70588e73f605388ee5c63'),
 ObjectId('5fb70588e73f605388ee5c64'),
 ObjectId('5fb70588e73f605388ee5c65'),
 ObjectId('5fb70588e73f605388ee5c66'),
 ObjectId('5fb70588e73f605388ee5c67'),
 ObjectId('5fb70588e73f605388ee5c68'),
 ObjectId('5fb70588e73f605388ee5c69'),
 ObjectId('5fb70588e73f605388ee5c6a'),
 ObjectId('5fb70588e73f605388ee5c6b'),
 ObjectId('5fb70588e73f605388ee5c6c'),
 ObjectId('5fb70588e73f605388ee5c6d'),
 ObjectId('5fb70588e73f605388ee5c6e'),
 ObjectId('5fb70588e73f605388ee5c6f'),
 ObjectId('5fb70588e73f605388ee5c70'),
 ObjectId('5fb70588e73f605388ee5c71'),
 ObjectId('5fb70588e73f605388ee5c72'),
 ObjectId('5fb70588e73f605388ee5c73'),
 ObjectId('5fb70588e73f605388ee5c74'),
 ObjectId('5fb70588e73f605388ee5c75'),
 ObjectId('5fb70588e73f605388ee5c76'),
 ObjectId('5fb70588e73f605388ee5c77'),
 ObjectId('5fb70588e73f605388ee5c78'),
 ObjectId('5fb70588e73f605388ee5c79'),
 ObjectId('5fb70588e73f605388ee5c7a'),
 ObjectId('5fb70588e73f605388ee5c7b'),
 ObjectId('5fb70588e73f605388ee5c7c'),
 ObjectId('5fb70588e73f605388ee5c7d'),
 ObjectId('5fb70588e73f605388ee5c7e'),
 ObjectId('5fb70588e73f605388ee5c7f'),
 ObjectId('5fb70588e73f605388ee5c80'),
 ObjectId('5fb70588e73f605388ee5c81'),
 ObjectId('5fb70588e73f605388ee5c82'),
 ObjectId('5fb70588e73f605388ee5c83'),
 ObjectId('5fb70588e73f605388ee5c84'),
 ObjectId('5fb70588e73f605388ee5c85'),
 ObjectId('5fb70588e73f605388ee5c86'),
 ObjectId('5fb70588e73f605388ee5c87'),
 ObjectId('5fb70588e73f605388ee5c88'),
 ObjectId('5fb70588e73f605388ee5c89'),
 ObjectId('5fb70588e73f605388ee5c8a'),
 ObjectId('5fb70588e73f605388ee5c8b'),
 ObjectId('5fb70588e73f605388ee5c8c'),
 ObjectId('5fb70588e73f605388ee5c8d'),
 ObjectId('5fb70588e73f605388ee5c8e'),
 ObjectId('5fb70588e73f605388ee5c8f'),
 ObjectId('5fb70588e73f605388ee5c90'),
 ObjectId('5fb70588e73f605388ee5c91'),
 ObjectId('5fb70588e73f605388ee5c92'),
 ObjectId('5fb70588e73f605388ee5c93'),
 ObjectId('5fb70588e73f605388ee5c94'),
 ObjectId('5fb70588e73f605388ee5c95'),
 ObjectId('5fb70588e73f605388ee5c96'),
 ObjectId('5fb70588e73f605388ee5c97'),
 ObjectId('5fb70588e73f605388ee5c98'),
 ObjectId('5fb70588e73f605388ee5c99'),
 ObjectId('5fb70588e73f605388ee5c9a'),
 ObjectId('5fb70588e73f605388ee5c9b'),
 ObjectId('5fb70588e73f605388ee5c9c'),
 ObjectId('5fb70588e73f605388ee5c9d'),
 ObjectId('5fb70588e73f605388ee5c9e'),
 ObjectId('5fb70588e73f605388ee5c9f'),
 ObjectId('5fb70588e73f605388ee5ca0'),
 ObjectId('5fb70588e73f605388ee5ca1'),
 ObjectId('5fb70588e73f605388ee5ca2'),
 ObjectId('5fb70588e73f605388ee5ca3'),
 ObjectId('5fb70588e73f605388ee5ca4'),
 ObjectId('5fb70588e73f605388ee5ca5'),
 ObjectId('5fb70588e73f605388ee5ca6'),
 ObjectId('5fb70588e73f605388ee5ca7'),
 ObjectId('5fb70588e73f605388ee5ca8'),
 ObjectId('5fb70588e73f605388ee5ca9'),
 ObjectId('5fb70588e73f605388ee5caa'),
 ObjectId('5fb70588e73f605388ee5cab'),
 ObjectId('5fb70588e73f605388ee5cac'),
 ObjectId('5fb70588e73f605388ee5cad'),
 ObjectId('5fb70588e73f605388ee5cae'),
 ObjectId('5fb70588e73f605388ee5caf'),
 ObjectId('5fb70588e73f605388ee5cb0'),
 ObjectId('5fb70588e73f605388ee5cb1'),
 ObjectId('5fb70588e73f605388ee5cb2'),
 ObjectId('5fb70588e73f605388ee5cb3'),
 ObjectId('5fb70588e73f605388ee5cb4'),
 ObjectId('5fb70588e73f605388ee5cb5'),
 ObjectId('5fb70588e73f605388ee5cb6'),
 ObjectId('5fb70588e73f605388ee5cb7'),
 ObjectId('5fb70588e73f605388ee5cb8'),
 ObjectId('5fb70588e73f605388ee5cb9'),
 ObjectId('5fb70588e73f605388ee5cba'),
 ObjectId('5fb70588e73f605388ee5cbb'),
 ObjectId('5fb70588e73f605388ee5cbc'),
 ObjectId('5fb70588e73f605388ee5cbd'),
 ObjectId('5fb70588e73f605388ee5cbe'),
 ObjectId('5fb70588e73f605388ee5cbf'),
 ObjectId('5fb70588e73f605388ee5cc0'),
 ObjectId('5fb70588e73f605388ee5cc1'),
 ObjectId('5fb70588e73f605388ee5cc2'),
 ObjectId('5fb70588e73f605388ee5cc3'),
 ObjectId('5fb70588e73f605388ee5cc4'),
 ObjectId('5fb70588e73f605388ee5cc5'),
 ObjectId('5fb70588e73f605388ee5cc6'),
 ObjectId('5fb70588e73f605388ee5cc7'),
 ObjectId('5fb70588e73f605388ee5cc8'),
 ObjectId('5fb70588e73f605388ee5cc9'),
 ObjectId('5fb70588e73f605388ee5cca'),
 ObjectId('5fb70588e73f605388ee5ccb'),
 ObjectId('5fb70588e73f605388ee5ccc'),
 ObjectId('5fb70588e73f605388ee5ccd'),
 ObjectId('5fb70588e73f605388ee5cce'),
 ObjectId('5fb70588e73f605388ee5ccf'),
 ObjectId('5fb70588e73f605388ee5cd0'),
 ObjectId('5fb70588e73f605388ee5cd1'),
 ObjectId('5fb70588e73f605388ee5cd2'),
 ObjectId('5fb70588e73f605388ee5cd3'),
 ObjectId('5fb70588e73f605388ee5cd4'),
 ObjectId('5fb70588e73f605388ee5cd5'),
 ObjectId('5fb70588e73f605388ee5cd6'),
 ObjectId('5fb70588e73f605388ee5cd7'),
 ObjectId('5fb70588e73f605388ee5cd8'),
 ObjectId('5fb70588e73f605388ee5cd9'),
 ObjectId('5fb70588e73f605388ee5cda'),
 ObjectId('5fb70588e73f605388ee5cdb'),
 ObjectId('5fb70588e73f605388ee5cdc'),
 ObjectId('5fb70588e73f605388ee5cdd'),
 ObjectId('5fb70588e73f605388ee5cde'),
 ObjectId('5fb70588e73f605388ee5cdf'),
 ObjectId('5fb70588e73f605388ee5ce0'),
 ObjectId('5fb70588e73f605388ee5ce1'),
 ObjectId('5fb70588e73f605388ee5ce2'),
 ObjectId('5fb70588e73f605388ee5ce3'),
 ObjectId('5fb70588e73f605388ee5ce4'),
 ObjectId('5fb70588e73f605388ee5ce5'),
 ObjectId('5fb70588e73f605388ee5ce6'),
 ObjectId('5fb70588e73f605388ee5ce7'),
 ObjectId('5fb70588e73f605388ee5ce8'),
 ObjectId('5fb70588e73f605388ee5ce9'),
 ObjectId('5fb70588e73f605388ee5cea'),
 ObjectId('5fb70588e73f605388ee5ceb'),
 ObjectId('5fb70588e73f605388ee5cec'),
 ObjectId('5fb70588e73f605388ee5ced'),
 ObjectId('5fb70588e73f605388ee5cee'),
 ObjectId('5fb70588e73f605388ee5cef'),
 ObjectId('5fb70588e73f605388ee5cf0'),
 ObjectId('5fb70588e73f605388ee5cf1'),
 ObjectId('5fb70588e73f605388ee5cf2'),
 ObjectId('5fb70588e73f605388ee5cf3'),
 ObjectId('5fb70588e73f605388ee5cf4'),
 ObjectId('5fb70588e73f605388ee5cf5'),
 ObjectId('5fb70588e73f605388ee5cf6'),
 ObjectId('5fb70588e73f605388ee5cf7'),
 ObjectId('5fb70588e73f605388ee5cf8'),
 ObjectId('5fb70588e73f605388ee5cf9'),
 ObjectId('5fb70588e73f605388ee5cfa'),
 ObjectId('5fb70588e73f605388ee5cfb'),
 ObjectId('5fb70588e73f605388ee5cfc'),
 ObjectId('5fb70588e73f605388ee5cfd'),
 ObjectId('5fb70588e73f605388ee5cfe'),
 ObjectId('5fb70588e73f605388ee5cff'),
 ObjectId('5fb70588e73f605388ee5d00'),
 ObjectId('5fb70588e73f605388ee5d01'),
 ObjectId('5fb70588e73f605388ee5d02'),
 ObjectId('5fb70588e73f605388ee5d03'),
 ObjectId('5fb70588e73f605388ee5d04'),
 ObjectId('5fb70588e73f605388ee5d05'),
 ObjectId('5fb70588e73f605388ee5d06'),
 ObjectId('5fb70588e73f605388ee5d07'),
 ObjectId('5fb70588e73f605388ee5d08'),
 ObjectId('5fb70588e73f605388ee5d09'),
 ObjectId('5fb70588e73f605388ee5d0a'),
 ObjectId('5fb70588e73f605388ee5d0b'),
 ObjectId('5fb70588e73f605388ee5d0c'),
 ObjectId('5fb70588e73f605388ee5d0d'),
 ObjectId('5fb70588e73f605388ee5d0e'),
 ObjectId('5fb70588e73f605388ee5d0f'),
 ObjectId('5fb70588e73f605388ee5d10'),
 ObjectId('5fb70588e73f605388ee5d11'),
 ObjectId('5fb70588e73f605388ee5d12'),
 ObjectId('5fb70588e73f605388ee5d13'),
 ObjectId('5fb70588e73f605388ee5d14'),
 ObjectId('5fb70588e73f605388ee5d15'),
 ObjectId('5fb70588e73f605388ee5d16'),
 ObjectId('5fb70588e73f605388ee5d17'),
 ObjectId('5fb70588e73f605388ee5d18'),
 ObjectId('5fb70588e73f605388ee5d19'),
 ObjectId('5fb70588e73f605388ee5d1a'),
 ObjectId('5fb70588e73f605388ee5d1b'),
 ObjectId('5fb70588e73f605388ee5d1c'),
 ObjectId('5fb70588e73f605388ee5d1d'),
 ObjectId('5fb70588e73f605388ee5d1e'),
 ObjectId('5fb70588e73f605388ee5d1f'),
 ObjectId('5fb70588e73f605388ee5d20'),
 ObjectId('5fb70588e73f605388ee5d21'),
 ObjectId('5fb70588e73f605388ee5d22'),
 ObjectId('5fb70588e73f605388ee5d23'),
 ObjectId('5fb70588e73f605388ee5d24'),
 ObjectId('5fb70588e73f605388ee5d25'),
 ObjectId('5fb70588e73f605388ee5d26'),
 ObjectId('5fb70588e73f605388ee5d27'),
 ObjectId('5fb70588e73f605388ee5d28'),
 ObjectId('5fb70588e73f605388ee5d29'),
 ObjectId('5fb70588e73f605388ee5d2a'),
 ObjectId('5fb70588e73f605388ee5d2b'),
 ObjectId('5fb70588e73f605388ee5d2c'),
 ObjectId('5fb70588e73f605388ee5d2d'),
 ObjectId('5fb70588e73f605388ee5d2e'),
 ObjectId('5fb70588e73f605388ee5d2f'),
 ObjectId('5fb70588e73f605388ee5d30'),
 ObjectId('5fb70588e73f605388ee5d31'),
 ObjectId('5fb70588e73f605388ee5d32'),
 ObjectId('5fb70588e73f605388ee5d33'),
 ObjectId('5fb70588e73f605388ee5d34'),
 ObjectId('5fb70588e73f605388ee5d35'),
 ObjectId('5fb70588e73f605388ee5d36'),
 ObjectId('5fb70588e73f605388ee5d37'),
 ObjectId('5fb70588e73f605388ee5d38'),
 ObjectId('5fb70588e73f605388ee5d39'),
 ObjectId('5fb70588e73f605388ee5d3a'),
 ObjectId('5fb70588e73f605388ee5d3b'),
 ObjectId('5fb70588e73f605388ee5d3c'),
 ObjectId('5fb70588e73f605388ee5d3d'),
 ObjectId('5fb70588e73f605388ee5d3e'),
 ObjectId('5fb70588e73f605388ee5d3f'),
 ObjectId('5fb70588e73f605388ee5d40'),
 ObjectId('5fb70588e73f605388ee5d41'),
 ObjectId('5fb70588e73f605388ee5d42'),
 ObjectId('5fb70588e73f605388ee5d43'),
 ObjectId('5fb70588e73f605388ee5d44'),
 ObjectId('5fb70588e73f605388ee5d45'),
 ObjectId('5fb70588e73f605388ee5d46'),
 ObjectId('5fb70588e73f605388ee5d47'),
 ObjectId('5fb70588e73f605388ee5d48'),
 ObjectId('5fb70588e73f605388ee5d49'),
 ObjectId('5fb70588e73f605388ee5d4a'),
 ObjectId('5fb70588e73f605388ee5d4b'),
 ObjectId('5fb70588e73f605388ee5d4c'),
 ObjectId('5fb70588e73f605388ee5d4d'),
 ObjectId('5fb70588e73f605388ee5d4e'),
 ObjectId('5fb70588e73f605388ee5d4f'),
 ObjectId('5fb70588e73f605388ee5d50'),
 ObjectId('5fb70588e73f605388ee5d51'),
 ObjectId('5fb70588e73f605388ee5d52'),
 ObjectId('5fb70588e73f605388ee5d53'),
 ObjectId('5fb70588e73f605388ee5d54'),
 ObjectId('5fb70588e73f605388ee5d55'),
 ObjectId('5fb70588e73f605388ee5d56'),
 ObjectId('5fb70588e73f605388ee5d57'),
 ObjectId('5fb70588e73f605388ee5d58'),
 ObjectId('5fb70588e73f605388ee5d59'),
 ObjectId('5fb70588e73f605388ee5d5a'),
 ObjectId('5fb70588e73f605388ee5d5b'),
 ObjectId('5fb70588e73f605388ee5d5c'),
 ObjectId('5fb70588e73f605388ee5d5d'),
 ObjectId('5fb70588e73f605388ee5d5e'),
 ObjectId('5fb70588e73f605388ee5d5f'),
 ObjectId('5fb70588e73f605388ee5d60'),
 ObjectId('5fb70588e73f605388ee5d61'),
 ObjectId('5fb70588e73f605388ee5d62'),
 ObjectId('5fb70588e73f605388ee5d63'),
 ObjectId('5fb70588e73f605388ee5d64'),
 ObjectId('5fb70588e73f605388ee5d65'),
 ObjectId('5fb70588e73f605388ee5d66'),
 ObjectId('5fb70588e73f605388ee5d67'),
 ObjectId('5fb70588e73f605388ee5d68'),
 ObjectId('5fb70588e73f605388ee5d69'),
 ObjectId('5fb70588e73f605388ee5d6a'),
 ObjectId('5fb70588e73f605388ee5d6b'),
 ObjectId('5fb70588e73f605388ee5d6c'),
 ObjectId('5fb70588e73f605388ee5d6d'),
 ObjectId('5fb70588e73f605388ee5d6e'),
 ObjectId('5fb70588e73f605388ee5d6f'),
 ObjectId('5fb70588e73f605388ee5d70'),
 ObjectId('5fb70588e73f605388ee5d71'),
 ObjectId('5fb70588e73f605388ee5d72'),
 ObjectId('5fb70588e73f605388ee5d73'),
 ObjectId('5fb70588e73f605388ee5d74'),
 ObjectId('5fb70588e73f605388ee5d75'),
 ObjectId('5fb70588e73f605388ee5d76'),
 ObjectId('5fb70588e73f605388ee5d77'),
 ObjectId('5fb70588e73f605388ee5d78'),
 ObjectId('5fb70588e73f605388ee5d79'),
 ObjectId('5fb70588e73f605388ee5d7a'),
 ObjectId('5fb70588e73f605388ee5d7b'),
 ObjectId('5fb70588e73f605388ee5d7c'),
 ObjectId('5fb70588e73f605388ee5d7d'),
 ObjectId('5fb70588e73f605388ee5d7e'),
 ObjectId('5fb70588e73f605388ee5d7f'),
 ObjectId('5fb70588e73f605388ee5d80'),
 ObjectId('5fb70588e73f605388ee5d81'),
 ObjectId('5fb70588e73f605388ee5d82'),
 ObjectId('5fb70588e73f605388ee5d83'),
 ObjectId('5fb70588e73f605388ee5d84'),
 ObjectId('5fb70588e73f605388ee5d85'),
 ObjectId('5fb70588e73f605388ee5d86'),
 ObjectId('5fb70588e73f605388ee5d87'),
 ObjectId('5fb70588e73f605388ee5d88'),
 ObjectId('5fb70588e73f605388ee5d89'),
 ObjectId('5fb70588e73f605388ee5d8a'),
 ObjectId('5fb70588e73f605388ee5d8b'),
 ObjectId('5fb70588e73f605388ee5d8c'),
 ObjectId('5fb70588e73f605388ee5d8d'),
 ObjectId('5fb70588e73f605388ee5d8e'),
 ObjectId('5fb70588e73f605388ee5d8f'),
 ObjectId('5fb70588e73f605388ee5d90'),
 ObjectId('5fb70588e73f605388ee5d91'),
 ObjectId('5fb70588e73f605388ee5d92'),
 ObjectId('5fb70588e73f605388ee5d93'),
 ObjectId('5fb70588e73f605388ee5d94'),
 ObjectId('5fb70588e73f605388ee5d95'),
 ObjectId('5fb70588e73f605388ee5d96'),
 ObjectId('5fb70588e73f605388ee5d97'),
 ObjectId('5fb70588e73f605388ee5d98'),
 ObjectId('5fb70588e73f605388ee5d99'),
 ObjectId('5fb70588e73f605388ee5d9a'),
 ObjectId('5fb70588e73f605388ee5d9b'),
 ObjectId('5fb70588e73f605388ee5d9c'),
 ObjectId('5fb70588e73f605388ee5d9d'),
 ObjectId('5fb70588e73f605388ee5d9e'),
 ObjectId('5fb70588e73f605388ee5d9f'),
 ObjectId('5fb70588e73f605388ee5da0'),
 ObjectId('5fb70588e73f605388ee5da1'),
 ObjectId('5fb70588e73f605388ee5da2'),
 ObjectId('5fb70588e73f605388ee5da3'),
 ObjectId('5fb70588e73f605388ee5da4'),
 ObjectId('5fb70588e73f605388ee5da5'),
 ObjectId('5fb70588e73f605388ee5da6'),
 ObjectId('5fb70588e73f605388ee5da7'),
 ObjectId('5fb70588e73f605388ee5da8'),
 ObjectId('5fb70588e73f605388ee5da9'),
 ObjectId('5fb70588e73f605388ee5daa'),
 ObjectId('5fb70588e73f605388ee5dab'),
 ObjectId('5fb70588e73f605388ee5dac'),
 ObjectId('5fb70588e73f605388ee5dad'),
 ObjectId('5fb70588e73f605388ee5dae'),
 ObjectId('5fb70588e73f605388ee5daf'),
 ObjectId('5fb70588e73f605388ee5db0'),
 ObjectId('5fb70588e73f605388ee5db1'),
 ObjectId('5fb70588e73f605388ee5db2'),
 ObjectId('5fb70588e73f605388ee5db3'),
 ObjectId('5fb70588e73f605388ee5db4'),
 ObjectId('5fb70588e73f605388ee5db5'),
 ObjectId('5fb70588e73f605388ee5db6'),
 ObjectId('5fb70588e73f605388ee5db7'),
 ObjectId('5fb70588e73f605388ee5db8'),
 ObjectId('5fb70588e73f605388ee5db9'),
 ObjectId('5fb70588e73f605388ee5dba'),
 ObjectId('5fb70588e73f605388ee5dbb'),
 ObjectId('5fb70588e73f605388ee5dbc'),
 ObjectId('5fb70588e73f605388ee5dbd'),
 ObjectId('5fb70588e73f605388ee5dbe'),
 ObjectId('5fb70588e73f605388ee5dbf'),
 ObjectId('5fb70588e73f605388ee5dc0'),
 ObjectId('5fb70588e73f605388ee5dc1'),
 ObjectId('5fb70588e73f605388ee5dc2'),
 ObjectId('5fb70588e73f605388ee5dc3'),
 ObjectId('5fb70588e73f605388ee5dc4'),
 ObjectId('5fb70588e73f605388ee5dc5'),
 ObjectId('5fb70588e73f605388ee5dc6'),
 ObjectId('5fb70588e73f605388ee5dc7'),
 ObjectId('5fb70588e73f605388ee5dc8'),
 ObjectId('5fb70588e73f605388ee5dc9'),
 ObjectId('5fb70588e73f605388ee5dca'),
 ObjectId('5fb70588e73f605388ee5dcb'),
 ObjectId('5fb70588e73f605388ee5dcc'),
 ObjectId('5fb70588e73f605388ee5dcd'),
 ObjectId('5fb70588e73f605388ee5dce'),
 ObjectId('5fb70588e73f605388ee5dcf'),
 ObjectId('5fb70588e73f605388ee5dd0'),
 ObjectId('5fb70588e73f605388ee5dd1'),
 ObjectId('5fb70588e73f605388ee5dd2'),
 ObjectId('5fb70588e73f605388ee5dd3'),
 ObjectId('5fb70588e73f605388ee5dd4'),
 ObjectId('5fb70588e73f605388ee5dd5'),
 ObjectId('5fb70588e73f605388ee5dd6'),
 ObjectId('5fb70588e73f605388ee5dd7'),
 ObjectId('5fb70588e73f605388ee5dd8'),
 ObjectId('5fb70588e73f605388ee5dd9'),
 ObjectId('5fb70588e73f605388ee5dda'),
 ObjectId('5fb70588e73f605388ee5ddb'),
 ObjectId('5fb70588e73f605388ee5ddc'),
 ObjectId('5fb70588e73f605388ee5ddd'),
 ObjectId('5fb70588e73f605388ee5dde'),
 ObjectId('5fb70588e73f605388ee5ddf'),
 ObjectId('5fb70588e73f605388ee5de0'),
 ObjectId('5fb70588e73f605388ee5de1'),
 ObjectId('5fb70588e73f605388ee5de2'),
 ObjectId('5fb70588e73f605388ee5de3'),
 ObjectId('5fb70588e73f605388ee5de4'),
 ObjectId('5fb70588e73f605388ee5de5'),
 ObjectId('5fb70588e73f605388ee5de6'),
 ObjectId('5fb70588e73f605388ee5de7'),
 ObjectId('5fb70588e73f605388ee5de8'),
 ObjectId('5fb70588e73f605388ee5de9'),
 ...]

In [176]:
movies_collection_ratings.find_one()

{'_id': ObjectId('5fb70588e73f605388ee5a02'),
 'user_id': 0,
 'item_id': 50,
 'rating': 5}

In [177]:
results = movies_collection_ratings.find({'user_id':0})
for user in results:
    print(user)

{'_id': ObjectId('5fb70588e73f605388ee5a02'), 'user_id': 0, 'item_id': 50, 'rating': 5}
{'_id': ObjectId('5fb70588e73f605388ee5a03'), 'user_id': 0, 'item_id': 172, 'rating': 5}
{'_id': ObjectId('5fb70588e73f605388ee5a04'), 'user_id': 0, 'item_id': 133, 'rating': 1}

In [178]:
#Merge Movie ratings and movie titles
movies_rating_df = pd.merge(movies_rating_df, movie_titles_df, on = 'item_id')
data_json = json.loads(movies_rating_df.to_json(orient='records'))
movies_merge_with_ratings.remove()
movies_merge_with_ratings.insert(data_json)
movies_rating_df.head(20)

    user_id  item_id  rating             title
0         0       50       5  Star Wars (1977)
1       290       50       5  Star Wars (1977)
2        79       50       4  Star Wars (1977)
3         2       50       5  Star Wars (1977)
4         8       50       5  Star Wars (1977)
5       274       50       5  Star Wars (1977)
6       227       50       4  Star Wars (1977)
7        99       50       5  Star Wars (1977)
8       305       50       5  Star Wars (1977)
9       108       50       4  Star Wars (1977)
10       63       50       4  Star Wars (1977)
11      234       50       4  Star Wars (1977)
12       97       50       5  Star Wars (1977)
13      117       50       5  Star Wars (1977)
14       70       50       4  Star Wars (1977)
15      318       50       2  Star Wars (1977)
16      145       50       5  Star Wars (1977)
17      124       50       3  Star Wars (1977)
18      253       50       4  Star Wars (1977)
19      271       50       5  Star Wars (1977)

In [179]:
movies_rating_df.shape

(100003, 4)

In [180]:
movies_rating_df.groupby('title')['rating'].describe()

,count,mean,std,min,25%,50%,75%,max
title,,,,,,,,
'Til There Was You (1997),9.0,2.333333,1.000000,1.0,2.00,2.0,3.0,4.0
1-900 (1994),5.0,2.600000,1.516575,1.0,1.00,3.0,4.0,4.0
101 Dalmatians (1996),109.0,2.908257,1.076184,1.0,2.00,3.0,4.0,5.0
12 Angry Men (1957),125.0,4.344000,0.719588,2.0,4.00,4.0,5.0,5.0
187 (1997),41.0,3.024390,1.172344,1.0,2.00,3.0,4.0,5.0
...,...,...,...,...,...,...,...,...
Young Guns II (1990),44.0,2.772727,1.008421,1.0,2.00,3.0,3.0,5.0
"Young Poisoner's Handbook, The (1995)",41.0,3.341463,1.237129,1.0,3.00,4.0,4.0,5.0
Zeus and Roxanne (1997),6.0,2.166667,0.983192,1.0,1.25,2.5,3.0,3.0
unknown,9.0,3.444444,1.130388,1.0,3.00,4.0,4.0,5.0
Á köldum klaka (Cold Fever) (1994),1.0,3.000000,NaN,3.0,3.00,3.0,3.0,3.0

In [181]:
results = movies_merge_with_ratings.find({'title':'Star Wars (1977)'}).limit(10)
for user in results:
    print(user)

{'_id': ObjectId('5fb7058de73f605388efe0a5'), 'user_id': 0, 'item_id': 50, 'rating': 5, 'title': 'Star Wars (1977)'}
{'_id': ObjectId('5fb7058de73f605388efe0a6'), 'user_id': 290, 'item_id': 50, 'rating': 5, 'title': 'Star Wars (1977)'}
{'_id': ObjectId('5fb7058de73f605388efe0a7'), 'user_id': 79, 'item_id': 50, 'rating': 4, 'title': 'Star Wars (1977)'}
{'_id': ObjectId('5fb7058de73f605388efe0a8'), 'user_id': 2, 'item_id': 50, 'rating': 5, 'title': 'Star Wars (1977)'}
{'_id': ObjectId('5fb7058de73f605388efe0a9'), 'user_id': 8, 'item_id': 50, 'rating': 5, 'title': 'Star Wars (1977)'}
{'_id': ObjectId('5fb7058de73f605388efe0aa'), 'user_id': 274, 'item_id': 50, 'rating': 5, 'title': 'Star Wars (1977)'}
{'_id': ObjectId('5fb7058de73f605388efe0ab'), 'user_id': 227, 'item_id': 50, 'rating': 4, 'title': 'Star Wars (1977)'}
{'_id': ObjectId('5fb7058de73f605388efe0ac'), 'user_id': 99, 'item_id': 50, 'rating': 5, 'title': 'Star Wars (1977)'}
{'_id': ObjectId('5fb7058de73f605388efe0ad'), 'user_id': 305, 'item_id': 50, 'rating': 5, 'title': 'Star Wars (1977)'}
{'_id': ObjectId('5fb7058de73f605388efe0ae'), 'user_id': 108, 'item_id': 50, 'rating': 4, 'title': 'Star Wars (1977)'}

In [237]:
#Average rating for movies

pipeline = [
    {"$group": {"_id": "$title", "avgRatings": {"$avg":"$rating"}}},
    {"$limit": 10},
    { "$sort" : { "avgRatings" : -1 } }
]

aggrRatings = movies_merge_with_ratings.aggregate(pipeline)
resultAggrRatings = list(aggrRatings)
resultAggrRatings

[{'_id': 'Streetcar Named Desire, A (1951)', 'avgRatings': 3.816326530612245},
 {'_id': 'Quiet Room, The (1996)', 'avgRatings': 3.6666666666666665},
 {'_id': 'Seventh Seal, The (Sjunde inseglet, Det) (1957)',
  'avgRatings': 3.5416666666666665},
 {'_id': 'My Crazy Life (Mi vida loca) (1993)',
  'avgRatings': 3.1818181818181817},
 {'_id': 'Stalingrad (1993)', 'avgRatings': 3.1666666666666665},
 {'_id': 'Bread and Chocolate (Pane e cioccolata) (1973)',
  'avgRatings': 3.1666666666666665},
 {'_id': 'House of the Spirits, The (1993)', 'avgRatings': 3.0416666666666665},
 {'_id': 'Across the Sea of Time (1995)', 'avgRatings': 2.75},
 {'_id': 'Event Horizon (1997)', 'avgRatings': 2.574803149606299},
 {'_id': 'Lotto Land (1995)', 'avgRatings': 1.0}]

In [235]:
#Group by movies

pipeline = [
    {"$group": {"_id": "$title", "count": {"$sum":1}}},
    {"$limit": 10},
    { "$sort" : { "count" : -1 } }
]

count = movies_merge_with_ratings.aggregate(pipeline)
resultCount = list(count)
resultCount

[{'_id': 'French Kiss (1995)', 'count': 84},
 {'_id': 'Mouse Hunt (1997)', 'count': 44},
 {'_id': '187 (1997)', 'count': 41},
 {'_id': 'That Darn Cat! (1997)', 'count': 41},
 {'_id': 'Portrait of a Lady, The (1996)', 'count': 25},
 {'_id': 'Live Nude Girls (1995)', 'count': 23},
 {'_id': 'Pagemaster, The (1994)', 'count': 12},
 {'_id': 'What Happened Was... (1994)', 'count': 8},
 {'_id': 'Frankie Starlight (1995)', 'count': 4},
 {'_id': 'Lashou shentan (1992)', 'count': 1}]

In [225]:
#identify which user gave ratings to movies

pipeline1 = [
    {"$group": {"_id": "$title", "users": {"$push":"$user_id"}}},
    { "$limit" : 1 }
]

cursor1 = movies_merge_with_ratings.aggregate(pipeline1)
r1 = list(cursor1)
r1

[{'_id': 'Stalingrad (1993)',
  'users': [288, 312, 158, 405, 60, 463, 387, 7, 916, 181, 825, 449]}]

In [184]:
ratings_df_mean = movies_rating_df.groupby('title')['rating'].describe()['mean']

In [185]:
ratings_df_count = movies_rating_df.groupby('title')['rating'].describe()['count']

In [186]:
ratings_mean_count_df = pd.concat([ratings_df_count, ratings_df_mean], axis = 1)

In [187]:
ratings_mean_count_df.reset_index()

                                      title  count      mean
0                 'Til There Was You (1997)    9.0  2.333333
1                              1-900 (1994)    5.0  2.600000
2                     101 Dalmatians (1996)  109.0  2.908257
3                       12 Angry Men (1957)  125.0  4.344000
4                                187 (1997)   41.0  3.024390
...                                     ...    ...       ...
1659                   Young Guns II (1990)   44.0  2.772727
1660  Young Poisoner's Handbook, The (1995)   41.0  3.341463
1661                Zeus and Roxanne (1997)    6.0  2.166667
1662                                unknown    9.0  3.444444
1663     Á köldum klaka (Cold Fever) (1994)    1.0  3.000000

[1664 rows x 3 columns]

In [188]:
ratings_mean_count_df[ratings_mean_count_df['mean'] == 5]

                                                   count  mean
title
Aiqing wansui (1994)                                 1.0   5.0
Entertaining Angels: The Dorothy Day Story (1996)    1.0   5.0
Great Day in Harlem, A (1994)                        1.0   5.0
Marlene Dietrich: Shadow and Light (1996)            1.0   5.0
Prefontaine (1997)                                   3.0   5.0
Saint of Fort Washington, The (1993)                 2.0   5.0
Santa with Muscles (1996)                            2.0   5.0
Someone Else's America (1995)                        1.0   5.0
Star Kid (1997)                                      3.0   5.0
They Made Me a Criminal (1939)                       1.0   5.0

In [189]:
ratings_mean_count_df.sort_values('count', ascending = False).head(100)

                              count      mean
title
Star Wars (1977)              584.0  4.359589
Contact (1997)                509.0  3.803536
Fargo (1996)                  508.0  4.155512
Return of the Jedi (1983)     507.0  4.007890
Liar Liar (1997)              485.0  3.156701
...                             ...       ...
Aladdin (1992)                219.0  3.812785
Babe (1995)                   219.0  3.995434
Volcano (1997)                219.0  2.808219
To Kill a Mockingbird (1962)  219.0  4.292237
Murder at 1600 (1997)         218.0  3.087156

[100 rows x 2 columns]

In [190]:
userid_movietitle_matrix = movies_rating_df.pivot_table(index = 'user_id', columns = 'title', values = 'rating')

In [191]:
userid_movietitle_matrix

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,Á köldum klaka (Cold Fever) (1994)
user_id,,,,,,,,,,,,,,,,,,,,,
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2.0,5.0,NaN,NaN,3.0,4.0,NaN,NaN,...,NaN,NaN,NaN,5.0,3.0,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
940,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
941,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
942,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
943,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4.0,3.0,NaN,NaN,NaN,NaN

In [192]:
titanic = userid_movietitle_matrix['Titanic (1997)']

In [193]:
titanic

user_id
0      NaN
1      NaN
2      5.0
3      NaN
4      NaN
      ...
939    NaN
940    5.0
941    NaN
942    3.0
943    NaN
Name: Titanic (1997), Length: 944, dtype: float64

In [194]:
# Let's calculate the correlations
titanic_correlations = pd.DataFrame(userid_movietitle_matrix.corrwith(titanic), columns=['Correlation'])
titanic_correlations = titanic_correlations.join(ratings_mean_count_df['count'])

In [195]:
titanic_correlations

                                       Correlation  count
title
'Til There Was You (1997)                -0.062017    9.0
1-900 (1994)                                   NaN    5.0
101 Dalmatians (1996)                     0.120113  109.0
12 Angry Men (1957)                       0.077700  125.0
187 (1997)                                0.315654   41.0
...                                            ...    ...
Young Guns II (1990)                      0.317274   44.0
Young Poisoner's Handbook, The (1995)     0.356783   41.0
Zeus and Roxanne (1997)                        NaN    6.0
unknown                                        NaN    9.0
Á köldum klaka (Cold Fever) (1994)             NaN    1.0

[1664 rows x 2 columns]

In [196]:
titanic_correlations.dropna(inplace=True)
titanic_correlations

                                       Correlation  count
title
'Til There Was You (1997)                -0.062017    9.0
101 Dalmatians (1996)                     0.120113  109.0
12 Angry Men (1957)                       0.077700  125.0
187 (1997)                                0.315654   41.0
2 Days in the Valley (1996)               0.017295   93.0
...                                            ...    ...
Year of the Horse (1997)                  1.000000    7.0
Young Frankenstein (1974)                 0.107666  200.0
Young Guns (1988)                         0.199931  101.0
Young Guns II (1990)                      0.317274   44.0
Young Poisoner's Handbook, The (1995)     0.356783   41.0

[1356 rows x 2 columns]

In [197]:
titanic_correlations.sort_values('Correlation', ascending=False)

                                          Correlation  count
title
Nadja (1994)                                      1.0    8.0
Pest, The (1997)                                  1.0    8.0
Savage Nights (Nuits fauves, Les) (1992)          1.0    3.0
For Ever Mozart (1996)                            1.0    3.0
Jerky Boys, The (1994)                            1.0    3.0
...                                               ...    ...
Pather Panchali (1955)                           -1.0    8.0
Angel Baby (1995)                                -1.0    4.0
Blood Beach (1981)                               -1.0    6.0
Two Bits (1995)                                  -1.0    5.0
Faces (1968)                                     -1.0    4.0

[1356 rows x 2 columns]

In [198]:
titanic_correlations[titanic_correlations['count']>80].sort_values('Correlation',ascending=False).head()

                              Correlation  count
title
Titanic (1997)                   1.000000  350.0
River Wild, The (1994)           0.497600  146.0
Abyss, The (1989)                0.472103  151.0
Bram Stoker's Dracula (1992)     0.443560  120.0
True Lies (1994)                 0.435104  208.0

In [199]:
userid_movietitle_matrix

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,Á köldum klaka (Cold Fever) (1994)
user_id,,,,,,,,,,,,,,,,,,,,,
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2.0,5.0,NaN,NaN,3.0,4.0,NaN,NaN,...,NaN,NaN,NaN,5.0,3.0,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
940,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
941,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
942,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
943,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4.0,3.0,NaN,NaN,NaN,NaN

In [200]:
movie_correlations = userid_movietitle_matrix.corr(method = 'pearson', min_periods = 80)

In [201]:
myRatings = pd.read_csv("My_Ratings.csv")

In [202]:
myRatings

         Movie Name  Ratings
0  Liar Liar (1997)        5
1  Star Wars (1977)        1

In [203]:
len(myRatings.index)

2

In [204]:
myRatings['Movie Name'][0]

'Liar Liar (1997)'

In [239]:
similar_movies_list = pd.Series()
for i in range(0, len(myRatings.index)):
    similar_movie = movie_correlations[myRatings['Movie Name'][i]].dropna() # Get same movies with same ratings
    similar_movie = similar_movie.map(lambda x: x * myRatings['Ratings'][i]) # Scale the similarity by your given ratings
    similar_movies_list = similar_movies_list.append(similar_movie)

In [240]:
similar_movies_list.sort_values(inplace = True, ascending = False)
print (similar_movies_list.head(10))

Liar Liar (1997)                             5.000000
Con Air (1997)                               2.349141
Pretty Woman (1990)                          2.348951
Michael (1996)                               2.210110
Indiana Jones and the Last Crusade (1989)    2.072136
Top Gun (1986)                               2.028602
G.I. Jane (1997)                             1.989656
Multiplicity (1996)                          1.984302
Grumpier Old Men (1995)                      1.953494
Ghost and the Darkness, The (1996)           1.895376
dtype: float64

In [238]:
#similar_movies_list.tolist()
data_json1 = json.loads(similar_movies_list.head(10).to_json(orient='split'))
cache_database.remove()
cache_database.insert(data_json1)
similar_movies_list.head(10)

Liar Liar (1997)                             5.000000
Con Air (1997)                               2.349141
Pretty Woman (1990)                          2.348951
Michael (1996)                               2.210110
Indiana Jones and the Last Crusade (1989)    2.072136
Top Gun (1986)                               2.028602
G.I. Jane (1997)                             1.989656
Multiplicity (1996)                          1.984302
Grumpier Old Men (1995)                      1.953494
Ghost and the Darkness, The (1996)           1.895376
dtype: float64

In [241]:
movies_collection.remove({"title":"Toy Story (1995)"})

{'n': 1, 'ok': 1.0}

In [244]:
movies_collection_ratings.update(
    { "user_id" : "0" , "item_id":"50"},
    { "$set": { "rating" : 3 } }
    )